.container-contact {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Вирівнює елементи по верхньому краю */
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.contact-left, .contact-right {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-left {
    flex: 2;
    min-height: 500px; /* Додає мінімальну висоту, якщо потрібно */
}

.contact-right {
    flex: 1;
    min-height: 500px; /* Додає мінімальну висоту, якщо потрібно */
}

.contact-header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px; /* Відступ між заголовками */
}

.contact-title {
    font-size: 24px; 
    line-height: 1.1; 
    letter-spacing: 0.2px;
    color: var(--main-text-color);
    font-family: var(--logo-font);
    font-weight: 600;
    margin: 0; /* Знімає відступи по замовчуванню */
}

.contact-subtitle {
    font-size: 24px; 
    line-height: 1.1; 
    letter-spacing: 0.2px;
    color: var(--main-text-color);
    font-family: var(--primary-font); 
    font-weight: 600;
    text-transform: uppercase;
    margin: 0; /* Знімає відступи по замовчуванню */
}

.contact-description {
    font-size: 14px; 
    line-height: 1.1; 
    letter-spacing: 0.2px;
    color: var(--main-text-color);
    font-family: var(--primary-font); 
    font-weight: 400;
    max-width: 560px;
    margin-bottom: 10px;
}

.contact-details {
    display: flex;
    gap: 70px;
    margin-bottom: 30px;
}

.contact-phone {
    font-size: 24px; 
    line-height: 1.1; 
    letter-spacing: 0.2px;
    color: var(--main-text-color);
    font-family: var(--primary-font); 
    font-weight: 600;
}

.social-links {
    display: flex;
    gap: 10px;
}

.social-links li {
    list-style: none;
}

.social-links li a {
    display: block;
    color: var(--main-text-color);
}

.map iframe {
    width: 100%;
    height: 500px;
    border: 0;
}

.feedback-form {
    background-color: var(--bg-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Вирівнює елементи по вертикалі всередині форми */
}

.feedback-form h2 {
    font-size: 21px; 
    line-height: 1.1; 
    letter-spacing: 0.2px;
    color: var(--main-text-color);
    font-family: var(--primary-font); 
    font-weight: 600;
    margin-bottom: 20px;
    text-align: left;
    text-transform: uppercase; /* Вирівнює текст по лівому краю */
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.feedback-form input, .feedback-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--light-gray-color);
    border-radius: none;
    background-color: var(--light-gray-color);
    color: var(--main-text-color);
}

.feedback-form textarea {
    height: 100px;
    resize: vertical;
}

/* Стилізує текст у плейсхолдерах для всіх інпутів та textarea */
input::placeholder, textarea::placeholder {
    font-size: 14px; /* Розмір шрифту */
    color: var(--bg-color);
    font-family: var(--primary-font); /* Шрифт тексту плейсхолдера */
    font-weight: 400; /* Вага шрифту */
    letter-spacing: 0.2px; /* Відстань між літерами */
}

/* Додаткові стилі для конкретних типів інпутів */
input[type="text"]::placeholder {
    font-size: 14px; /* Розмір шрифту для текстового поля */
}

input[type="tel"]::placeholder {
    font-size: 14px; /* Розмір шрифту для телефонного поля */
}

.submit-button {
    background: none;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10px;
    top: 10px;
}

.stores {
    background-color: var(--main-brand-color);
    padding: 10px;
    color: var(--bg-color);
    height: 350px;
}

.stores h2 {
    font-size: 21px; 
    line-height: 1.1; 
    letter-spacing: 0.2px;
    font-family: var(--primary-font); 
    font-weight: 400;
    color: var(--bg-color);
    text-align: left;
    text-transform: uppercase;
}

.store h3, .store p {
    font-size: 14px; 
    line-height: 1.2; 
    letter-spacing: 0.2px;
    font-family: var(--primary-font); 
    font-weight: 400;
    color: var(--bg-color);
}
