#myModal {
    display: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal-content {
    background-color: var(--bg-color);
    border: none;
    width: 484px;
    height: 444px;
    display: flex;
    margin: auto;
    padding: 0;
    position: relative;
}

.modal-image {
    width: 242px;
    height: 444px;
    padding: 0;
    margin: 0; 
}

.modal-image img {
    width: 100%;
    object-fit: contain; 
}

.modal-text {
    padding: 20px;
    width: calc(100% - 242px);
}

.close {
    position: absolute; 
    top: 10px; 
    right: 10px; 
    color: var(--dark-gray-color);
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: var(--main-brand-color);
    text-decoration: none;
}

.modal-head {
    font-size: 20px;
    line-height: 1.1;
    letter-spacing: 0.3px;
    font-weight: 600;
    font-family: var(--primary-font);
    color: var(--main-brand-color);
    text-transform: uppercase;
    text-align: center;
    margin-top: 110px;
}

.modal-head-2 {
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: 0.3px;
    font-weight: 600;
    font-family: var(--primary-font);
    color: var(--main-brand-color);
    text-transform: uppercase;
    text-align: center;
    margin-top: 100px;
}


.modal-text-1 {
    font-size: 16px;
    line-height: 0.7; 
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: var(--primary-font);
    color: var(--main-text-color);
    text-align: center;
    margin-top: 30px;
  }


.modal-text-2 {
    font-size: 14px;
    line-height: 1.1; 
    letter-spacing: 0.5px;
    font-weight: 300;
    font-family: var(--primary-font);
    color: var(--main-text-color);
    text-align: center;
    margin-top: 10px;
  }

  .button-container {
    text-align: center;
    margin-top: 30px;
}

.button-name {
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.3px;
    color: var(--main-text-color);
    font-family: var(--primary-font);
    padding: 16px 33px;
    background-color: var(--bg-color);
    border: 1px solid var(--main-text-color);
    border-radius: 5px;
    cursor: pointer; 
}

.button-name:hover {
    background-color: var(--main-brand-color);
    color: var(--bg-color);
}

