#myModal {
    display: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
    width: 584px;
    height: 544px;
    display: flex;
    margin: auto; 
}

.modal-image {
    width: 292px;
    height: 544px;
}

.modal-image img {
    width: 100%;
    height: auto;
}

.modal-text {
    padding: 20px;
    width: calc(100% - 292px);
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-text h2 {
    margin-top: 0;
}

.modal-text p {
    margin-bottom: 10px;
}