.product-card {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    margin-top: 30px;
    margin-bottom: 40px;
}

.product-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    flex: 1.5; 
}

.product-image img {
    width: 100%;
    height: auto;
    padding: 5px;
}

.product-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-title {
    font-size: 24px; 
    line-height: 1.1; 
    letter-spacing: 0.2px;
    color: var(--main-text-color);
    font-family: var(--primary-font); 
    font-weight: 600;
}

.pr-price {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-top: 10px;
}

.product-price {
    font-size: 14px;
    line-height: 0.7; 
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: var(--main-text-color);
    font-weight: 600;
    font-family: var(--primary-font);
}

.model {
    font-size: 12px;
    line-height: 0.7; 
    letter-spacing: 0.3px;
    color: var(--dark-gray-color);
    font-weight: 400;
    font-family: var(--primary-font);
}

.dropdown {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 22px;
    cursor: pointer;
    gap: 10px;
}

.dropdown-content {
    display: none;
    position: absolute; 
    background-color: #f9f9f9;
    max-height: 130px;
    max-width: 490px;
    z-index: 1;
    font-size: 15px;
    line-height: 0.7; 
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: var(--main-text-color);
    font-weight: 400;
    font-family: var(--primary-font);
    top: -17px;
    left: 0; 
    cursor: pointer;
}

.dropdown-content a {
    font-size: 14px; 
    line-height: 1.1; 
    letter-spacing: 0.3px;
    color: var(--main-text-color);
    font-family: var(--primary-font);
    font-weight: 600;
    padding: 12px 16px;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: var(--bg-color);
}

.sizes {
    display: flex;
    gap: 20px;
    margin-left: 10px;
    font-size: 15px;
    text-transform: uppercase;
    color: var(--main-text-color);
    font-weight: 400;
    font-family: var(--primary-font);
}

.dropbtn {
    font-size: 12px;
    line-height: 1.1;
    letter-spacing: 0.3px;
    color: var(--main-text-color);
    font-family: var(--primary-font);
    font-weight: 500;
    margin-bottom: 5px;
    background-color: transparent;
    border: none;
    padding: 0;
}

.sizes {
    display: flex;
    flex-direction: row; /* Горизонтальне розташування розмірів */
    gap: 10px; /* Відстань між s, m, l */
    font-size: 16px;
    text-transform: uppercase;
    color: var(--main-text-color);
    font-weight: 600;
    font-family: var(--primary-font);
    margin-bottom: 5px; /* Відступ між розмірами та "Таблица размеров" */
}

.sizes span {
    margin-right: 10px; /* Додає додатковий відступ праворуч від кожного <span> */
}

.drop-size {
    font-size: 12px;
    line-height: 0.7; 
    letter-spacing: 0.3px;
    color: var(--main-text-color);
    font-weight: 400;
    font-family: var(--primary-font);
    text-decoration: underline;
    margin-left: auto; /* Розміщення "Таблица размеров" праворуч */
}

.product-btn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 16px;
}

.btn-basket, .btn-buy {
    padding: 10px;
    cursor: pointer;
    border: none;
}

.btn-basket {
    font-size: 12px;
    text-align: center; 
    line-height: 1.1; 
    letter-spacing: 0.3px;
    color: var(--bg-color);
    font-family: var(--primary-font);
    padding: 17px 23px;
    background-color: var(--main-text-color); 
    border: 1px solid var(--main-text-color);
    text-transform: uppercase;
    font-weight: 600;
}

.btn-basket:hover {
    background-color: var(--bg-color);
    color: var(--main-text-color);
    border: 1px solid var(--main-brand-color);
    cursor: pointer;
}

.btn-buy {
    font-size: 12px;
    text-align: center; 
    line-height: 1.1; 
    letter-spacing: 0.3px;
    background-color: var(--bg-color);
    color: var(--dark-gray-color);
    font-family: var(--primary-font);
    padding: 17px 23px;
    border: 1px solid var(--dark-gray-color);
    text-transform: uppercase;
    font-weight: 600;
}

.btn-buy:hover {
    background-color: var(--bg-color);
    color: var(--main-text-color);
    border: 1px solid var(--main-brand-color);
    cursor: pointer;
}

.desc {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 8px; /* Відстань між усіма елементами всередині контейнера */
}

.product-desc, .care-desc {
    font-size: 14px;
    line-height: 1.1; 
    letter-spacing: 0.3px;
    color: var(--main-text-color);
    font-family: var(--primary-font);
    font-weight: 600;

}

.product-d, .care-d {
    font-size: 14px; 
    line-height: 1.0; 
    letter-spacing: 0.2px;
    color: var(--main-text-color);
    font-family: var(--primary-font); 
    font-weight: 400;
    margin-bottom: 10px; /* Відстань після опису та догляду */
}

.delivery-desc {
    font-size: 14px;
    line-height: 1.1; 
    letter-spacing: 0.3px;
    color: var(--main-text-color);
    font-family: var(--primary-font);
    font-weight: 600;
    margin-top: 20px;
}

.delivery-methods {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-top: 16px;
}

.delivery-kaz p,
.delivery-k p {
    margin: 0; 
    padding: 0; 
}

.delivery-kaz p + p,
.delivery-k p + p {
    margin-top: 3px; 
}

.delivery-kaz {
    font-size: 14px;
    line-height: 1.1; 
    letter-spacing: 0.3px;
    color: var(--main-text-color);
    font-weight: 500;
    font-family: var(--primary-font);
}

.delivery-k {
    font-size: 12px;
    line-height: 1.2; 
    letter-spacing: 0.3px;
    color: var(--dark-gray-color);
    font-weight: 400;
    font-family: var(--primary-font);
}

.product-info-fixed {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: var(--bg-color);
    padding: 4px 90px; /* Відступи з обох боків */
    border-top: 1px solid #ccc;
    transition: transform 0.3s ease-out;
    transform: translateY(100%);
    display: flex;
    align-items: center; /* Вирівнювання по вертикалі */
    justify-content: space-between;
    box-sizing: border-box; /* Враховує padding у ширину */
}

.product-title-fix,
.product-price-fix,
.dropdown-fix {
    margin: 0; /* Вирівнювання по бокам */
}


.product-info-fixed.visible {
    transform: translateY(0);
}

.product-title-fix {
    margin-right: 30px;
    font-size: 18px;
    font-weight: 600;
    color: var(--main-text-color);
    font-family: var(--primary-font);
    line-height: 1.2;
    letter-spacing: 0.3px;
    display: flex;
    align-items: center; /* Додає вертикальне вирівнювання тексту */
    height: 100%;
    text-transform: none;  /* Забезпечує, що заголовок використовує всю висоту батьківського контейнера */
}

.product-price-fix {
    font-size: 14px;
    line-height: 1.2; /* Змінив на 1.2 для кращого відображення */
    letter-spacing: 0.3px;
    color: var(--main-text-color);
    font-weight: 500;
    font-family: var(--primary-font);
    text-transform: uppercase;
    display: flex;
    align-items: center; /* Додає вертикальне вирівнювання тексту */
    height: 100%;
}


.dropdown-fix {
    display: flex;
    align-items: center;
    margin-left: auto; /* Додає автоматичний відступ зліва для вирівнювання */
}

.dropdown-content-fix {
    display: flex;
    list-style-type: none;
    padding-inline-start: 0;
    font-size: 16px;
    font-weight: 600;
    color: var(--main-text-color);
    font-family: var(--primary-font);
    line-height: 1.2; /* Змінив на 1.2 для кращого відображення */
    letter-spacing: 0.3px;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.dropdown-content-fix li {
    margin-right: 15px;
}

.dropdown-content-fix a {
    color: var(--main-text-color);
    text-decoration: none;
}

.dropdown-fix:hover .dropdown-content-fix {
    opacity: 1;
}

.btn-basket-fix {
    font-size: 14px;
    text-align: center;
    line-height: 1.1;
    letter-spacing: 0.3px;
    color: var(--bg-color);
    font-family: var(--primary-font);
    padding: 9px 20px;
    background-color: var(--main-text-color);
    border: 1px solid var(--main-text-color);
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-basket-fix:hover {
    font-size: 14px;
    line-height: 1.2; /* Змінив на 1.2 для кращого відображення */
    letter-spacing: 0.3px;
    background-color: var(--bg-color);
    color: var(--main-text-color);
    font-weight: 600;
    font-family: var(--primary-font);
    text-transform: uppercase;
    cursor: pointer;
}


.like-section {
    margin-top: 50px;
}

.like-section p {
    margin-bottom: 20px;
}

.like-title {
    font-size: 14px;
    line-height: 1.1; 
    letter-spacing: 0.3px;
    color: var(--main-text-color);
    font-family: var(--primary-font);
    font-weight: 400;
    text-transform: uppercase;
}

.like-list {
    display: flex; /* Використовуємо flexbox для вирівнювання елементів у рядок */
    gap: 10px; /* Відстань між елементами */
    list-style: none; /* Прибираємо маркери списку */
    padding: 0; /* Забираємо відступи */
    margin: 0; /* Забираємо відступи */
}

.like-list li {
    display: flex;
    flex-direction: column; /* Вертикальне розташування вмісту кожного елементу списку */
    align-items: center; /* Вирівнюємо по центру */
}

.image-like {
    position: relative; /* Для позиціонування елементів, як-от overlay */
    margin-bottom: 10px; /* Відступ між зображенням та текстом */
}

.text-like {
    display: flex;
    flex-direction: column; /* Встановлює вертикальне розміщення елементів */
    align-items: flex-start; /* Вирівнює елементи по лівому краю */
    justify-content: flex-start; /* Вирівнює елементи зверху */
    width: 100%; /* Забезпечує використання повної ширини контейнера */
    text-align: left; /* Встановлює вирівнювання тексту по лівому краю */
    margin-top: 10px; /* Відстань між текстом та зображенням */
}

.title, .caption {
    margin: 0; /* Видаляє додаткові відступи */
    padding: 0; /* Видаляє додаткові внутрішні відступи */
    text-align: left; /* Встановлює вирівнювання тексту по лівому краю */
}



