.faq-container {
    display: flex;
    gap: 24px;
    margin-top: 30px;
  }
  
  .faq-questions {  
    width: 70%;
  }
  
  .faq-questions ul {
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.3px;
    color: var(--main-text-color);
    font-weight: 600;
    font-family: var(--primary-font);
    margin-bottom: 20px;
    list-style-type: none !important; /* Прибираємо крапки у списку */
    padding: 0 !important; /* Прибираємо відступ */
  }
  
  .faq-questions ul li {
    margin: 30px 0px;
  }
  
  .faq-title {
    font-size: 24px; 
    line-height: 1.1; 
    letter-spacing: 0.2px;
    color: var(--main-text-color);
    font-family: var(--primary-font); 
    font-weight: 600;
    margin-bottom: 20px; /* Зменшено відстань для лінії */
    position: relative;
    text-transform: uppercase; /* Додаємо для позиціонування псевдоелемента */
  }
  
  .faq-title::after {
    content: ""; /* Порожній контент для створення псевдоелемента */
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px; /* Відстань від тексту до лінії */
    width: 100%;
    border-top: 1px solid #000; /* Тонка горизонтальна лінія */
  }
  
  .faq-answer {
    font-size: 14px; 
    line-height: 1.1; 
    letter-spacing: 0.2px;
    color: var(--main-text-color);
    font-family: var(--primary-font); 
    font-weight: 400;
    margin-top: 10px; 
    max-width: 680px;/* Збільшуємо відстань між тегами li та p */
  }
  
  .faq-form {
    width: 30%;
    background-color: #fff;
  }
  
  .form-title {
    font-size: 21px;
    line-height: 1;
    letter-spacing: 0.3px;
    color: var(--main-text-color);
    font-weight: 600;
    font-family: var(--primary-font);
    margin-bottom: 40px;
    text-transform: uppercase;
  }
  
  .form-subtitle {
    font-size: 15px; /* Розмір шрифту для більшого контрасту */
    line-height: 1.1; /* Інтерліньяж для тексту в описах */
    color: var(--dark-gray-color);
    font-family: var(--primary-font);
    font-weight: 400; 
    margin-bottom: 10px;
  }
  
  .contact-info {
    display: flex;
    align-items: center; 
    gap: 10px;
    margin-bottom: 50px;
  }
  
  .contact-info svg {
    display: inline-block;
  }
  
  .contact-info p {
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.3px;
    color: var(--main-text-color);
    font-weight: 600;
    font-family: var(--primary-font);
    margin: 0;
  }
  
  .form-heading {
    font-size: 21px;
    line-height: 1;
    letter-spacing: 0.3px;
    color: var(--main-text-color);
    font-weight: 400;
    font-family: var(--primary-font);
    margin-top: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 5px;
    color: var(--main-text-color); 
  }
  
  .contact-form .name-email-group input[type="text"],
  .contact-form .name-email-group input[type="email"],
  .contact-form .name-email-group textarea {
    width: 100%; 
    padding: 10px; 
    border: 1px solid var(--light-gray-color); 
    background-color: var(--light-gray-color); /* Зміна кольору фону на білий */
    color: var(--main-text-color); 
    height: 50px; 
    border-radius: 0; 
  }
  
  .contact-form .name-email-group input[type="email"] {
    color: var(--main-text-color) !important; 
  }
  
  .contact-form .name-email-group input[type="text"]::placeholder,
  .contact-form .name-email-group input[type="email"]::placeholder,
  .contact-form .name-email-group textarea::placeholder {
    font-size: 14px; 
    line-height: 0.7; 
    letter-spacing: 0.3px; 
    color: var(--main-text-color); 
    font-weight: 500; 
    font-family: var(--primary-font); 
  }
  
  .contact-form .name-email-group input[type="text"]::placeholder {
    color: var(--bg-color); /* Зміна кольору плейсхолдера на білий */
  }
  
  .contact-form .form-group {
    margin-bottom: 15px; 
  }
  
  .contact-form .name-email-group {
    display: flex;
    flex-direction: column; 
    gap: 10px;
    margin-bottom: 10px; 
  }
  
  .contact-form .message-container {
    position: relative;
  }
  
  .contact-form textarea {
    width: 100%; 
    padding-right: 40px; 
    box-sizing: border-box;
    border-radius: 0; 
  }
  
  .contact-form .submit-btn {
    width: 100%; 
    background-color: #ffffff; 
    color: #000000; 
    border: 1px solid #000000; 
    border-radius: 0;
    padding: 10px 20px; 
    cursor: pointer; 
    font-size: 16px; 
    font-family: var(--primary-font); 
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease; 
  }
  
  .contact-form .submit-btn:hover {
    background-color: #f0f0f0; 
    color: #000000; 
  }
  
  .contact-form .submit-btn:focus {
    outline: none; 
  }
  