.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px; /* змінив margin-bottom на margin-top */
}

.left-content h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.right-content .sort {
    display: flex;
    align-items: center;
    color: #777;
}

.right-content .sort label {
    margin-right: 10px;
}

.right-content .sort select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Заголовок "Юбки максі" */
.filters {
    width: calc(25% - 20px); /* Змінив ширину на 25% */
    margin-right: 20px; /* Додав margin-right для відділення від списку продуктів */
    float: left; /* Додав float: left; щоб фільтри були ліворуч */
}

.filters h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.filter-group {
    margin-bottom: 20px;
}

.filter-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #333;
}

/* Випадаючий список */
.filter-group select {
    width: 100%;
    padding: 8px 10px;

    background-color: #fff;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>'); /* Іконка стрілки */
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px 16px;
}

.price-inputs {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    width: 100%; /* Змінив ширину на 100% */
}

.price-from, .price-to {
    flex: 1;
    display: flex;
    align-items: center;
}

.price-from label, .price-to label {
    margin-right: 5px;
    font-size: 14px;
    width: auto; /* Встановлюємо фіксовану ширину для лейблів */
    text-align: right; /* Вирівнюємо текст по правому краю */
}

.price-from input, .price-to input {
    flex: 1;
    padding: 8px;
    font-size: 14px;
    border: none; /* Додаємо стиль без бордера */
    outline: none; /* Додаємо стиль без обводу */
}

.price-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%; /* Змінив ширину на 100% */
}

.price-buttons button {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.price-buttons button:hover {
    background-color: #e0e0e0;
}

/* Кнопки фільтрів */
.filters form button {
    padding: 10px 15px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filters form button:hover {
    background-color: #333;
}

/* Список продуктів */
.product-list-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-row {
    display: flex;
    gap: 20px;
}

.product-item {
    flex: 1 0 calc(33.33% - 20px);
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    box-sizing: border-box;
}

.product-item img {
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.product-item h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
    color: #333;
}

.product-item p {
    margin: 10px;
    color: #777;
}

.product-item button {
    display: block;
    width: 100%;
    padding: 10px 0;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 0 0 4px 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product-item button:hover {
    background-color: #333;
}

.pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Додаємо flex-wrap */
}

.pagination {
    display: flex;
    gap: 5px;
    align-items: center;
}

.page-number {
    cursor: pointer;
}

.viewed-products {
    text-align: center;
}


#show-more-btn {
    width: auto; /* Змінив на auto */
    padding: 10px 30px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 auto; /* Центруємо кнопку у контейнері */
    display: block; /* Додаємо display: block для коректного відображення margin */
}


#show-more-btn:hover {
    background-color: #333;
}