 /* Загальні стилі */
:root {
    --primary-font: 'DM Sans', sans-serif;
    --logo-font: 'Bodoni Moda', serif;
    --bg-color: #FFFFFF;
    --main-brand-color: #0F0965;
    --main-text-color: #242424;
    --light-gray-color: #D9D9D9;
    --dark-gray-color: #999999;
}

  body {
    overflow-x: hidden;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    background-color: var(--bg-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 82px;
  }

  main {
    flex-grow: 1;
  }
  
  h1,
  h2,
  h3,
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  a {
    text-decoration: none;
  }

  ul,
  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.link {
    text-decoration: none;
  }
  .list {
    list-style: none;
  }
  
  img {
    display: block;
  }

  .icon {
    fill: currentColor;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .container {
    width: 1248px;
    padding: 0 14px;
    margin: auto;
  }
  
 /* Стилі для хедера */
 .header {
  position: fixed; 
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 82px;
  background-color: var(--bg-color);
}

 .header .container {
  display: flex;
  height: 82px;
}

.page-nav {
  display: flex;
  align-items: center;
}

.logo-container {
  display: flex; 
  align-items: center; 
  margin-right: 60px;
}

.logo {
  margin-right: 10px; 
}

.logo-name {
  font-size: 20px;
  line-height: 0.9; 
  letter-spacing: 0.3px;
  text-transform: uppercase;
  color: var(--main-brand-color);
  font-family: var(--logo-font);
  font-weight: 500;
}

.nav-list {
  display: flex;
  margin: auto;
  gap: 40px;
  margin-right: auto;
  position: relative;
}

.nav-menu {
  font-size: 15px;
  line-height: 0.7; 
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: var(--main-text-color);
  font-weight: 400;
  font-family: var(--primary-font);
}

.nav-menu:hover {
  color: var(--main-brand-color);
}

.icons {
  display: flex;
  align-items: center;
  gap: 10px; 
  margin-left: auto;
  justify-content: flex-end; 
}

.nav-icons {
  display: flex;
  align-items: center; 
  gap: 20px;
  margin-right: 30px;
  position: relative;
  height: 20px; 
}

.nav-icons::after {
  content: "";
  width: 1px; 
  height: 100%; 
  background-color: var(--main-text-color);
  margin-left: 10px;
}

.basket {
  display: flex;
  align-items: center;
  margin-right: 14px; 
  position: relative;
}


 /* Стилі для слайдера */
 .slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slides {
  display: flex;
}

.slide {
  flex: 0 0 100%;
  position: relative;
  display: none; 
}

.slide.active {
display: block; 
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-caption-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slide1 .slide-caption-container {
  right: 10%;
  white-space: nowrap;
}

.slide1 .caption1 {
  white-space: nowrap;
  font-size: 70px;
  line-height: 1.1; 
  letter-spacing: 0.5px;
  color: var(--bg-color);
  text-transform: uppercase;
  font-weight: 700;
  font-family: var(--primary-font);
}

.slide1 .caption1 {
  white-space: nowrap;
  font-size: 70px;
  line-height: 1.1; 
  letter-spacing: 0.5px;
  color: var(--bg-color);
  text-transform: uppercase;
  font-weight: 700;
  font-family: var(--primary-font);
}

  

.slide2 .slide-caption-container {
  left: 10%;
  right: auto; 
  transform: translateY(-50%);
  margin-top: 60px;
  text-align: left; 
}

.slide2 .caption2 {
  white-space: nowrap;
  font-size: 50px;
  line-height: 1.0; 
  letter-spacing: 0.3px;
  color: var(--bg-color);
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--primary-font);
}

.slide3 .slide-caption-container {
  left: 50%; 
  right: auto;
  transform: translateX(-50%) translateY(-50%);
  margin-top: 40px;
}

.slide3 .caption3 {
  white-space: nowrap;
  font-size: 70px;
  line-height: 1.1; 
  letter-spacing: 0.5px;
  color: var(--bg-color);
  text-align: center;
  margin-bottom: 5px;
  font-weight: 550;
  font-family: var(--primary-font);
}

.slide4 .slide-caption-container {
  top: 70%; 
  transform: translateY(-50%);
  left: 10%;
  right: auto;
  text-align: left;
}

.slide4 .caption4 {
  white-space: nowrap;
  font-size: 40px;
  line-height: 1.0; 
  letter-spacing: 0.3px;
  color: var(--bg-color);
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--primary-font);
}

.slide5 .slide-caption-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); 
  bottom: 20px; 
  text-align: center; 
}

.slide5 .caption5 {
  white-space: nowrap;
  font-size: 70px;
  line-height: 1.1; 
  letter-spacing: 0.3px;
  color: var(--bg-color);
  text-transform: uppercase;
  font-weight: 550;
  font-family: var(--primary-font);
}

 /* Стилі для бігаючої стрічки */
 .horizontal-line {
  width: 100%;
  height: 50px;
  background-color: var(--main-brand-color);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center; 
}

.moving-text-container {
  white-space: nowrap;
  overflow: visible;
  position: absolute;
  width: 100%;
  animation: moveText 30s linear infinite;
  line-height: 2; 
}

.moving-text-container::before {
  content: "\00a0"; 
  margin-right: 50px; 
}

.moving-text {
  display: inline-block;
  color: var(--bg-color);
  margin-right: 50px; 
  font-size: 16px;
  line-height: 0.7; 
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: 300;
  font-family: var(--primary-font);
}

@keyframes moveText {
  0% { transform: translateX(100%); } 
  100% { transform: translateX(-100%); } 
}


/* Стилі для жакет та рубашки */
.section-js {
  margin-top: 60px;
}

.image-caption-js {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--bg-color);
  font-size: 30px;
  line-height: 1.1;
  letter-spacing: 0.3px;
  font-weight: 600;
  font-family: var(--primary-font);
  text-transform: uppercase;
  text-align: center;
}

 /* Стилі для новинок */
 .section-new {
  padding: 0 14px;
  margin-top: 60px;
}

.section-name {
  font-size: 24px;
  text-align: right; 
  line-height: 0.5; 
  letter-spacing: 0.9px;
  color: var(--main-text-color);
  font-family: var(--primary-font);
  font-weight: normal;
}

.button-name {
  font-size: 14px;
  text-align: right; 
  line-height: 1.1; 
  letter-spacing: 0.3px;
  color: var(--main-text-color);
  font-family: var(--primary-font);
  padding: 17px 23px 17px 23px;
  background-color: var(--bg-color); 
  border: 1px solid var(--main-text-color); 
}

.button-name:hover {
  background-color: var(--main-brand-color);
  color: var(--bg-color);
  cursor: pointer;
}

.title {
  font-size: 12px;
  text-align: left; 
  line-height: 1.1; 
  letter-spacing: 0.2px;
  color: var(--main-text-color);
  font-family: var(--primary-font);
  font-weight: normal;
}

.caption {
  font-size: 12px;
  text-align: left; 
  line-height: 1.1; 
  letter-spacing: 0.2px;
  color: var(--main-text-color);
  font-family: var(--primary-font);
  padding-top: 7px;
  font-weight: bold;
}

.svg-icon {
  position: absolute;
  top: 5px; 
  right: 5px; 
  fill: none;
  stroke: var(--bg-color);
  stroke-width: 2px; 
}

.svg-icon:hover {
  cursor: pointer;
}

.white-fill {
  fill: white !important;
  stroke: none !important; 
}

.option-section {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: 10px;
}

.card-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
}

.card-list li {
  flex-basis: calc((100% - 14px) / 5 - 14px);
  margin-bottom: 20px;
  max-width: 236px; 
}

.image-container {
  position: relative;
  width: 236px;
  margin-bottom: 16px;
}

.overlay {
  position: absolute;
  bottom: 16px; 
  left: 0;
  width: 100%;
  height: 42px; 
  background-color: var(--main-brand-color);
  color: var(--bg-color);
  text-align: center; 
  font-size: 12px;
  line-height: 42px;
  letter-spacing: 1px;
  opacity: 0; 
  pointer-events: none; 
  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1); 
}

.image-container:hover .overlay,
.image-container:focus .overlay {
  opacity: 1;
  pointer-events: auto; 
}


/* Стилі для максі та міді */
.section-mm {
  margin-top: 60px;
}

.mm-wrapper {
  display: flex;
  gap: 20px; 
}

.image-wrapper {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.image-wrapper img {
  width: 100%;
  height: auto;
}

.image-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--bg-color);
  font-size: 30px;
  line-height: 1.1;
  letter-spacing: 0.3px;
  font-family: var(--text-font);
  font-weight: bold;
}

.image-caption a {
  color: white;
  text-decoration: none;
}

.image-wrapper:hover {
  transform: scale(1.03);
  cursor: none; 
}


/* Стилі для популярних */
.section-popular {
  padding: 0 14px;
  margin-top: 60px;
}


/* Стилі для образів */
.section-carousel {
  width: 100%; 
  overflow: hidden;
  position: relative;
  margin-top: 70px;
}

.carousel-wrapper {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden; 
  -webkit-overflow-scrolling: touch; 
  scroll-behavior: smooth;
}

.carousel-wrapper::-webkit-scrollbar {
  display: none; 
}

.carousel-inner {
  display: flex;
  margin-bottom: -20px; 
}

.carousel-slide {
  margin-right: 20px; 
  position: relative;
  width: 389px; 
  height: 488px; 
}

.carousel-slide img {
  width: 100%; 
  height: 100%; 
  display: block; 
}

.overlay-carousel {
  position: absolute;
  top: 60%;
  left: 20%;
  color: var(--bg-color);
  font-size: 30px;
  line-height: 1.1;
  letter-spacing: 0.3px;
  font-family: var(--primary-font);
  font-weight: bold;
}

.overlay-carousel-1 {
  position: absolute;
  top: 69%;
  left: 20%;
  color: var(--bg-color);
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: 0.3px;
  font-family: var(--primary-font);
  font-weight: bold;
}
  .overlay-carousel-2 {
    position: absolute;
    top: 75%;
    left: 20%;
    color: white;
    font-size: 12px;
    line-height: 1.2; 
    letter-spacing: 0.3px;
    font-family: var(--text-font);
    list-style-type: none; 
    padding: 0; 
  }
  
  .overlay-carousel-2 li {
    margin-bottom: 2px; 
  }
  
  .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    background-color: transparent; 
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
  }

  .carousel-control.prev {
    left: 0;
  }
  
  .carousel-control.next {
    right: 0;
  }


/* Стилі для популярних */
.section-fs {
  padding: 0 14px;
  margin-top: 70px;
}

.discount-circle {
  position: absolute;
  top: 5px; 
  left: 5px; 
}

.discount-circle text {
  font-size: 18px;
  font-weight: bold;
  fill: var(--bg-color);
}

.price-container {
  display: flex;
  align-items: center;
}

.price {
  font-size: 12px;
  text-align: left; 
  line-height: 1.1; 
  letter-spacing: 0.2px;
  color: var(--main-text-color);
  font-family: var(--primary-font);
  padding-top: 7px;
  font-weight: bold;
  text-decoration: line-through; 
  margin-right: 9px; 
}

.new-price {
  font-size: 12px;
  text-align: left; 
  line-height: 1.1; 
  letter-spacing: 0.2px;
  color: red; 
  font-family: var(--primary-font);
  padding-top: 7px;
  font-weight: bold;
}

 /* Стилі для футера */
 .footer {
   background-color: var(--main-brand-color);
   color: var(--bg-color);
   width: 100%;
   position: relative;
   left: 0;
   margin-top: 90px;
   overflow: hidden;
 }
 
 .footer .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   padding: 0 14px;
 }
 
 .footer-top,
 .footer-bottom {
   flex: 1;
 }
 
 .footer-top {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   margin-top: 30px;
 }
 
 .footer-logo,
 .footer-info,
 .footer-subscribe {
   margin-bottom: 20px
 }
 
 .footer-logo {
 margin-right: 40px;
 }
 
 .footer-info {
   width: 60%;
   font-size: 21px;
   line-height: 1.3; 
   letter-spacing: 0.5px;
   text-transform: uppercase;
   font-family: var(--primary-font);
 
 }
 
 .footer-info p {
   white-space: nowrap;
 }
 
 .footer-info p span {
   display: block;
 }
 
 .footer-subscribe {
   margin-top: 20px;
   width: 560px;
   height: 10px;
 }
 
 .input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input-wrapper input[type="email"] {
  flex: 1;
  padding: 10px;
  border: none;
  border-bottom: 1px solid white;
  background-color: var(--main-brand-color);
  color: white;
}

.input-wrapper button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 10px;
  color: var(--bg-color);
}

#email::placeholder {
  font-size: 16px;
  text-align: left;
  line-height: 1.1;
  letter-spacing: 0.2px;
  color: var(--bg-color);
  font-family: var(--primary-font);
  font-weight: normal;
}

.footer-social-contact {
  display: flex;
  align-items: center;
  margin-top: 60px; 
  gap: 300px;
}

.footer-social ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin-right: 20px; 
}

.footer-social ul li {
  margin-right: 14px;
}

.footer-contact p {
  color: var(--bg-color);
  font-size: 21px;
  line-height: 1.3; 
  letter-spacing: 0.5px;
  font-weight: bold;
}

.phone-number {
  color: var(--bg-color);
  font-size: 21px;
  line-height: 1.3; 
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-family: var(--primary-font);
  margin-top: 10px; 
}
 
 .site-info {
   margin-top: 70px;
   margin-left: 0 auto;
   margin-bottom: 40px;
   font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.2px;
  color: var(--dark-gray-color);
  font-family: var(--primary-font);
  font-weight: normal;
 }
 
 .footer-bottom {
   display: flex;
   flex-wrap: wrap;
   margin-top: 30px; 
   justify-content: flex-end;
   align-self: flex-start; 
   align-items: center;
   margin-right: 60px;
 }
 
 .footer-menu {
  width: auto; 
}

.footer-menu:first-child {
  margin-right: 40px;
}

.footer-name {
  list-style: none;
  color: var(--bg-color);
  font-size: 21px;
  line-height: 1.7; 
  letter-spacing: 0.5px;
  font-weight: 600;
  font-family: var(--primary-font);
  margin-bottom: 30px;
}

.footer-menu ul {
  padding: 0;
  list-style: none;
  color: var(--bg-color);
  font-size: 16px;
  line-height: 1.3; 
  letter-spacing: 0.5px;
  font-weight: 300;
  font-family: var(--primary-font);
}

.footer-menu ul li {
  margin-bottom: 5px;
}

.footer-menu ul li a {
  color: var(--bg-color); /* Додано колір тексту для посилань */
  text-decoration: none; /* Заборона підкреслення */
}

