:root {
    --primary-font: 'DM Sans', sans-serif;
    --logo-font: 'Bodoni Moda', serif;
    --text-font: 'Great Vibes', cursive;
    --bg-color: #FFFFFF;
    --main-brand-color: #0F0965;
    --main-text-color: #242424;
    --light-gray-color: #D9D9D9;
    --dark-gray-color: #999999;
}

  body {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    background-color: var(--bg-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  main {
    flex-grow: 1;
  }
  
  h1,
  h2,
  h3,
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .list {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }

  .link {
    text-decoration: none;
  }
  
  img {
    display: block;
  }

  .icon {
    fill: currentColor;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .container {
    width: 1248px;
    padding: 0 14px;
    margin: auto;
  }
  
 /* Стилі для слайдера */
 .swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  position: relative;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-caption-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.swiper-slide:nth-child(1) .slide-caption-container {
  right: 10%;
  white-space: nowrap;
}

.swiper-slide:nth-child(1) .caption1 {
  white-space: nowrap;
  font-size: 50px;
  margin-bottom: 5px;
  line-height: 1.1; 
  letter-spacing: 0.5px;
  color: var(--main-text-color);
}

.swiper-slide:nth-child(1) .caption1_1 {
  white-space: nowrap;
  padding-top: 0px;
  font-size: 17px;
  text-align: right; 
  line-height: 1.1; 
  letter-spacing: 0.3px;
  color: var(--main-text-color);
  font-family: var(--primary-font);
}

.swiper-slide:nth-child(2) .slide-caption-container {
  left: 10%;
  right: auto; 
  transform: translateY(-50%);
  text-align: left; 
}

.swiper-slide:nth-child(2) .caption2 {
  white-space: nowrap;
  font-size: 50px;
  line-height: 1.1; 
  letter-spacing: 0.3px;
  color: var(--bg-color);
  font-family: var(--text-font);
}

.swiper-slide:nth-child(3) .slide-caption-container {
  left: 50%; 
  right: auto;
  transform: translateX(-50%) translateY(-50%);
}

.swiper-slide:nth-child(3) .caption3 {
  white-space: nowrap;
  font-size: 100px;
  line-height: 1.1; 
  letter-spacing: 0.3px;
  color: var(--bg-color);
  text-align: center;
  margin-bottom: 5px;
  font-family: var(--primary-font);
  font-weight: bold; 
}

.swiper-slide:nth-child(3) .caption3_1 {
  white-space: nowrap;
  font-size: 17px;
  line-height: 0.5; 
  letter-spacing: 0.3px;
  color: var(--bg-color);
  text-align: center; 
  font-family: var(--primary-font);
}

.swiper-slide:nth-child(4) .slide-caption-container {
  top: 70%; 
  transform: translateY(-50%);
  left: 10%;
  right: auto;
  text-align: left;
}

.swiper-slide:nth-child(4) .caption4 {
  white-space: nowrap;
  font-size: 30px;
  line-height: 1.1; 
  letter-spacing: 0.3px;
  color: var(--bg-color);
  font-family: var(--text-font);
}

.swiper-slide:nth-child(5) .slide-caption-container {
  left: 10%;
  right: auto;
  transform: translateY(-50%);
  text-align: left;
}

.swiper-slide:nth-child(5) .caption5 {
  white-space: nowrap;
  font-size: 50px;
  line-height: 1.1; 
  letter-spacing: 0.3px;
  color: var(--main-text-color);
  font-family: var(--text-font); 
  overflow-wrap: break-word;
}

.swiper-slide:nth-child(5) .caption5_1 {
  white-space: nowrap;
  font-size: 17px;
  text-align: right; 
  line-height: 0.5; 
  letter-spacing: 0.3px;
  color: var(--main-text-color);
  font-family: var(--primary-font);
}

 /* Стилі для бігаючої стрічки */
 .horizontal-line {
  width: 100%;
  height: 50px;
  background-color: var(--main-brand-color);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center; 
}

.moving-text-container {
  white-space: nowrap;
  overflow: visible;
  position: absolute;
  width: 100%;
  animation: moveText 30s linear infinite; 
}

.moving-text-container::before {
  content: "\00a0"; 
  margin-right: 50px; 
}

.moving-text {
  display: inline-block;
  color: var(--bg-color);
  margin-right: 100px; 
  line-height: 2; 
}

@keyframes moveText {
  0% { transform: translateX(100%); } 
  100% { transform: translateX(-100%); } 
}

 /* Стилі для новинок */
 .section-new {
  padding: 0 14px;
  margin-top: 60px;
}

.section-name {
  font-size: 24px;
  text-align: right; 
  line-height: 0.5; 
  letter-spacing: 0.9px;
  color: var(--main-text-color);
  font-family: var(--primary-font);
  font-weight: normal;
}

.button-name {
  font-size: 14px;
  text-align: right; 
  line-height: 1.1; 
  letter-spacing: 0.3px;
  color: var(--main-text-color);
  font-family: var(--primary-font);
  padding: 17px 23px 17px 23px;
  background-color: var(--bg-color); 
  border: 1px solid var(--main-text-color); 
}

.button-name:hover {
  background-color: var(--main-brand-color);
  color: var(--bg-color);
  cursor: pointer;
}

.title {
  font-size: 12px;
  text-align: left; 
  line-height: 1.1; 
  letter-spacing: 0.2px;
  color: var(--main-text-color);
  font-family: var(--primary-font);
  font-weight: normal;
}

.caption {
  font-size: 12px;
  text-align: left; 
  line-height: 1.1; 
  letter-spacing: 0.2px;
  color: var(--main-text-color);
  font-family: var(--primary-font);
  padding-top: 7px;
  font-weight: bold;
}

.svg-icon {
  position: absolute;
  top: 5px; 
  right: 5px; 
  fill: none;
  stroke: var(--bg-color);
  stroke-width: 3px; 
}

.svg-icon:hover {
  cursor: pointer;
}

.white-fill {
  fill: white !important;
  stroke: none !important; 
}

.option-section {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: 10px;
}

.card-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
}

.card-list li {
  flex-basis: calc((100% - 14px) / 5 - 14px);
  margin-bottom: 20px;
  max-width: 236px; 
}

.image-container {
  position: relative;
  width: 236px;
  margin-bottom: 16px;
}

.overlay {
  position: absolute;
  bottom: 16px; 
  left: 0;
  width: 100%;
  height: 42px; 
  background-color: var(--main-brand-color);
  color: var(--bg-color);
  text-align: center; 
  font-size: 12px;
  line-height: 42px;
  letter-spacing: 1px;
  opacity: 0; 
  pointer-events: none; 
  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1); 
}

.image-container:hover .overlay,
.image-container:focus .overlay {
  opacity: 1;
  pointer-events: auto; 
}

/* Стилі для максі та міді */
.section-mm {
  margin-top: 60px;
}

.mm-wrapper {
  display: flex;
  gap: 20px; 
}

.image-wrapper {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.image-wrapper img {
  width: 100%;
  height: auto;
}

.image-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--bg-color);
  font-size: 30px;
  line-height: 1.1;
  letter-spacing: 0.3px;
  font-family: var(--text-font);
  font-weight: bold;
}

.image-caption a {
  color: white;
  text-decoration: none;
}

.image-wrapper:hover {
  transform: scale(1.03);
  cursor: none; 
}

/* Стилі для популярних */
.section-popular {
  padding: 0 14px;
  margin-top: 60px;
}

/* Стилі для образів */
.section-carousel {
  width: 100%; 
  overflow: hidden;
  position: relative;
  margin-top: 70px;
}

.carousel-wrapper {
  display: flex;
  overflow-x: auto; 
  -webkit-overflow-scrolling: touch; 
}

.carousel-inner {
  display: flex;
  margin-bottom: -20px; 
}

.carousel-slide {
  margin-right: 20px; 
  position: relative;
  width: 389px; 
  height: 488px; 
}

.carousel-slide img {
  width: 100%; 
  height: 100%; 
  display: block; 
}

.overlay-carousel {
  position: absolute;
  top: 60%;
  left: 20%;
  color: var(--bg-color);
  font-size: 30px;
  line-height: 1.1;
  letter-spacing: 0.3px;
  font-family: var(--primary-font);
  font-weight: bold;
}

.overlay-carousel-1 {
  position: absolute;
  top: 69%;
  left: 20%;
  color: var(--bg-color);
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: 0.3px;
  font-family: var(--primary-font);
  font-weight: bold;
}
  .overlay-carousel-2 {
    position: absolute;
    top: 75%;
    left: 20%;
    color: white;
    font-size: 12px;
    line-height: 1.2; 
    letter-spacing: 0.3px;
    font-family: var(--text-font);
    list-style-type: none; 
    padding: 0; 
  }
  
  .overlay-carousel-2 li {
    margin-bottom: 2px; 
  }
  
  .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    background-color: transparent; 
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
  }

  .carousel-control.prev {
    left: 0;
  }
  
  .carousel-control.next {
    right: 0;
  }

/* Стилі для популярних */
.section-fs {
  padding: 0 14px;
  margin-top: 70px;
}

.discount-circle {
  position: absolute;
  top: 5px; 
  left: 5px; 
}

.discount-circle text {
  font-size: 18px;
  font-weight: bold;
  fill: var(--bg-color);
}

.price-container {
  display: flex;
  align-items: center;
}

.price {
  font-size: 12px;
  text-align: left; 
  line-height: 1.1; 
  letter-spacing: 0.2px;
  color: var(--main-text-color);
  font-family: var(--primary-font);
  padding-top: 7px;
  font-weight: bold;
  text-decoration: line-through; 
  margin-right: 9px; 
}

.new-price {
  font-size: 12px;
  text-align: left; 
  line-height: 1.1; 
  letter-spacing: 0.2px;
  color: red; 
  font-family: var(--primary-font);
  padding-top: 7px;
  font-weight: bold;
}
